{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.html.j2", "*.j2"],
      "options": {
        "plugins": ["prettier-plugin-jinja-template"]
      }
    }
  ]
}
